<ion-view view-title="Activity">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
        <div class="item card-item">
            <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/jon-snow.jpg');"></span>
                    <strong>Gel111</strong> -Introduction to Geology
                    <div class="card-footer text-right">
                        <i class="icon ion-chatbubbles positive"></i> 6 <!--downloads-->
                        <i class="icon ion-chatbubbles positive"></i> 24kb <!--Size in kb-->
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> 2016-06-13 10:43:17
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item card-item">
            <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/jon-snow.jpg');"></span>
                    <strong>Gel121</strong> -Introduction to GeologyII
                    <div class="card-footer text-right">
                        <i class="icon ion-chatbubbles positive"></i> 12 <!--downloads-->
                        <i class="icon ion-chatbubbles positive"></i> 124kb <!--Size in kb-->
                        <div class="pull-left">
                            <i class="icon ion-clock"></i> 2016-06-13 10:43:17
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
