<ion-view view-title="Home">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('img/profile-bg.jpg');">
            <div class="content">
                <div class="avatar" style="background-image: url('img/daenerys.jpg');"></div>
                <h3><a class="light">Intellix</a></h3>
                <h4>Educational Resource Manager</h4>
            </div>
        </div>
        <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.activity" class="tab-item">
                <i class="icon ion-arrow-graph-up-right"></i> Resources
            </a>
            <a ui-sref="app.friends" class="tab-item">
                <i class="icon ion-android-people"></i> Contact-Us
            </a>
            <a ui-sref="app.gallery" class="tab-item">
                <i class="icon ion-images"></i> Sign-Out
            </a>
        </div>
        <h4 class="content padding double-padding-x">Select Your Payment Method</h4>
        <div class="list animate-fade-slide-in-right">
            <div class="item list-item item-text-wrap">
            1. GEL111 $200 (table showing list of checked materials to be bought with qty total and cost total)
            </div>
            <div class="padding">
                <button ui-sref="app.onlinepay" class="button button-full button-assertive ink">Pay with ATM</button>
                <button ui-sref="app.cashpay" class="button button-full button-assertive ink">Pay in Cash</button>
            </div>
        </div>
    </ion-content>
</ion-view>
