<ion-view view-title="Home">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('img/profile-bg.jpg');">
            <div class="content">
                <div class="avatar" style="background-image: url('img/daenerys.jpg');"></div>
                <h3><a class="light">Intellix</a></h3>
                <h4>Educational Resource Manager</h4>
            </div>
        </div>
        <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.activity" class="tab-item">
                <i class="icon ion-arrow-graph-up-right"></i> Resources
            </a>
            <a ui-sref="app.friends" class="tab-item">
                <i class="icon ion-android-people"></i> Contact-Us
            </a>
            <a ui-sref="app.gallery" class="tab-item">
                <i class="icon ion-images"></i> Sign-Out
            </a>
        </div>
        <h4 class="content padding double-padding-x">Select Your Subject(course code)</h4>
        <div class="list animate-fade-slide-in-right">
            <div class="item card-item">
                <div class="card stable-bg">
                    <div class="item item-checkbox item-text-wrap">
                        <label class="checkbox item-checkbox-right"><input type="checkbox"></label><strong>Gel 111</strong>
                    </div>
                </div>
            </div>
            <div class="item card-item">
                <div class="card stable-bg">
                    <div class="item item-checkbox item-text-wrap">
                        <label class="checkbox item-checkbox-right"><input type="checkbox"></label><strong>Gel 417</strong>
                    </div>
                </div>
            </div>
            <div class="item card-item">
                <div class="card stable-bg">
                    <div class="item item-checkbox item-text-wrap">
                        <label class="checkbox item-checkbox-right"><input type="checkbox"></label><strong>Gel 324</strong>
                    </div>
                </div>
            </div>
            <div class="item card-item">
                <div class="card stable-bg">
                    <div class="item item-checkbox item-text-wrap">
                        <label class="checkbox item-checkbox-right"><input type="checkbox"></label><strong>Gel 214</strong>
                    </div>
                </div>
            </div>
            <div class="item card-item">
                <div class="card stable-bg">
                    <div class="item item-checkbox item-text-wrap">
                        <label class="checkbox item-checkbox-right"><input type="checkbox"></label><strong>Gel 512</strong>
                    </div>
                </div>
            </div>
            <div class="padding">
                <button ui-sref="app.checkout" class="button button-full button-assertive ink">Proceed to CheckOut</button>
            </div>
        </div>
    </ion-content>
</ion-view>
